.home-container {
  height: 100%;
  position: relative;
  overflow: hidden;
}

main {
  height: 100%;
  background-color: var(--color-accent);
  display: flex;
  flex-direction: column;
  justify-content: center;

  header {
    z-index: 70;
    padding: 6rem 0;
    width: 100%;
    text-align: center;

    h1 {
      font-size: var(--s4);
      font-family: 'Noto Serif', serif;
      color: #fff;
      font-weight: 600;
      letter-spacing: 1px;
      margin-bottom: 2rem;
    }

    a {
      padding: 1em 2em;
      background-color: var(--color-light);
      text-decoration: none;
      font-size: var(--s0);
      box-shadow: none;
      border: none;
      border-radius: var(--s-4);
      color: var(--color-dark);
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 1.4px;
    }
  }
}

.wrap {
  perspective-origin: 50% 50%;
}

.svg {
  position: absolute;
  bottom: -100vh;
  transform-style: preserve-3d;  
}

$num_of: 12;
@for $i from 1 through $num_of {
  $scale:random(2) - .9;
  
  .svg:nth-child(#{$i}){
    left:random(120) * 1% - 30;
    animation: rising#{$i} 7 + random(10) + s linear infinite;
    animation-delay: random(5) - 5 + s;
    transform: scale(.2 * $i - .5) rotate(random(180) + deg);
    z-index: $i + 8;

    @keyframes rising#{$i} {
      to {
      bottom:130vh;
      transform: scale(.2 * $i - .5) rotate(random(180) + deg);
      }
    }
  }
}