.main-nav {
  width: 100%;
  background-color: var(--color-light);
  min-height: var(--nav-height);
  display: flex;
  align-items: center;
  position: fixed;
  gap: 1px;
  left: 0;
  top: 0;
  z-index: 100;
  gap: 1em;
  border-bottom: var(--border-width) solid var(--color-light-accent);

  a {
    font-size: var(--s-1);
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-accent);
    font-weight: 500;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 3px;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  .nav-active {
    text-decoration: underline;
    text-underline-offset: 3px;
  }
  
  .nav-home {
    height: var(--nav-height);
    font-weight: 800;
    aspect-ratio: 1;
    cursor: pointer;
    display: grid;
    place-content: center;
    background-color: var(--color-light);
    border-right: var(--border-width) solid var(--color-light-accent);
    &:active {
      transform: translateY(0px);
    }
  }


  .nav-pages {
    background-color: var(--color-accent);
    display: flex;
    align-items: center;
    gap: 1em;

    a {
      color: var(--color-light);
    }
  }

}
